#me {
    border-radius: 50%;
    max-width: 12em;
}

#about h1 {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 3.5em;
}

#about .icons a {
    margin: 0px 10px 0px 6px;
    padding: 0px 5px 0px 5px;
}

#first {
    color: #ff4141;
}

#email {
    font-size: 45px;
    color: #ff4141;
}

#email:hover {
    color: #8d2727;
}

.icons {
    font-size: 60px;
    padding: 3px;
    margin: 3px;
}

.icons a {
    color: #888888;
}

.icons a:hover {
    color: #ff4141;
}