.section {
  margin: auto;
  margin-top: 10em;
  max-width: 70%;
  align-content: left;
  justify-content: center;
  min-height: 25em;
}

#App {
  height: 100vh;
}

h1 {
  text-transform: uppercase;
  color: #4e4232;
}

h4 {
  color: #ff4141;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fffff9 ;
  }

p {
    color: #7c7c7c;
    font-size: large;
}

a {
  color: #ff4141;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  /* color: #71bfec; */
  color: #8d2727;
  text-decoration: underline;
}