#education .school {
    padding: 10%;
    box-shadow: 1em 1em #0000005e;
}

#ud {
    background-color: #1957ff;
}

#ud h2, #ud h3 {
    color: #ffe607;
}

#ud p {
    color: #e9dd97;
}

#ud h5 {
    color: #dadada;
}