#experience {
    padding-top: 2em;
    padding-bottom: 2em;
}

#projects {
    margin-top: 10em;
}

#professional h1, #projects h1 {
    font-size: 2.5em;
}

#projects div, #professional div {
    box-shadow: 1em 1em #0000005e;
    padding: 10%;
}

.job h2, .job h3,
.project h2, .project h3 {
    text-transform: uppercase;
}

.job h2, .project h2 {
    font-size: 1.7em;
    margin-bottom: 0;
}

.job h3, .project h3 {
    margin-top: 0.1em;
}

.project {
    margin-bottom: 5em;
}

#geoswap {
    background-color: darkslategray;
}

#geoswap h4, #geoswap a {
    color: coral;
}

#geoswap a:hover {
    color: white;
}

#geoswap p {
color: lightgray;
}

#estuary-escapade {
    background-color: #6dbfe6;
}

#estuary-escapade h4, #estuary-escapade a {
    color: #1944ff;
}

#estuary-escapade a:hover {
    color: #142677;
}

#estuary-escapade p {
    color: #49385a;
}

#grenzy {
    background-color: #FFD8BE;
}

#grenzy h4, #grenzy a {
    color: #2E7E6E;
}

#grenzy a:hover {
    color: #186354;
}

#grenzy p {
    color: #203C66;
}