#mini {
    font-size: 3em;
    text-align: center;
    padding: 0.4em;
    margin-bottom: 10%;
}

#mini a {
    padding: inherit;
}

@media only screen and (max-width: 600px) {

    #footer {
        padding-top: 5%;
        background: #383838;
    }

    #mini {
        margin-bottom: 0;
        padding-bottom: 10%;
    }
  }