#interests-box {
    background-color: #616161;
    padding: 10%;
    box-shadow: 1em 1em #0000005e;
}

#interests {
    margin-bottom: 10em;
}

#interests p {
    color: #dbdada;
}

@media only screen and (max-width: 600px) {
    #interests-box {
        box-shadow: none;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 5%;
        padding-right:5%;
    }

    #interests {
        margin-bottom: 0;
    }
}