/* #sidebar {
    position:fixed;
    top: 0;
    background-color: #ff4141;
    padding: 1em;
    height: 100%;
    box-shadow: 0em 0.4em #0000005e;
}

#sidebar * {
    margin: 1vw;
}

#sidebar a {
    color: #ffbfbf;
}

#sidebar a:hover {
    color: #fffff9;
    text-decoration: none;
} */

#page-wrap {
    overflow: auto;
}

.bm-item {
    display: inline-block;
    transition: color 0.2s;

    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}

.bm-item:hover {
    color: #f1b1b1;
    text-decoration: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #ff4141;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #ff4141;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #ff4141;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: #0000004d;
  }