.languages #language-child {
    font-size: 45px;
    color: #e4e4e4;
    margin: 6px;
}

.languages #language-child:hover{
    color: #71bfec;
}

#terminal {
    background-color: #e4e4e4;
    color: #ff4141;
    font-size: 30px;
    margin: 6px;
    padding: 5px;
}

#terminal:hover {
    background-color: #71bfec;
}

#skills-box {
    background-color: #ff4141;
    padding: 10%;
    box-shadow: 1em 1em #0000005e;
}

#skills-box h2, #skills-box h3 {
    color: #423f3f;
}

@media only screen and (max-width: 600px) {
    #skills-box{
        box-shadow: none;
        padding-left: 5%;
        padding-right: 5%;
    } 
}