#topbar {
    position:fixed;
    top:0;
    background-color: #ff4141;
    padding: 1em;
    width: 100%;
    box-shadow: 0em 0.4em #0000005e;
}

#topbar * {
    margin: 1vw;
}

#topbar a {
    color: #ffbfbf;
}

#topbar a:hover {
    color: #fffff9;
    text-decoration: none;
}